@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #dddada;
}

.checkbox {
  width: 30px;
  height: 30px;
  border: 2px solid #153148;
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #153148;
  border-radius: 2px;
  display: none;
}

input[type="checkbox"]:checked + label .checkbox::after {
  display: block;
}

.css-13cymwt-control {
  padding: 8px !important;
  background: #dbe8f4 !important;
  border: none !important;
}

.css-1y7rh0y-MultiValueGeneric2 {
  color: #fbfbfb !important;
  background: #153148 !important;
}

.css-12a83d4-MultiValueRemove {
  background: #f53b04 !important;
  color: #fff !important;
}

.react-tel-input .form-control {
  border: 1px solid #dbe8f4 !important;
  padding-top: 24px !important;
  padding-bottom: 24px !important;
  width: 100% !important;
  outline: none !important;
  background: #dbe8f4 !important;
  font-size: larger !important;
}

/* Modal Styles */
.modal-overlay-search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.424);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s ease-in-out, visibility 0.7s ease-in-out;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.566);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s ease-in-out, visibility 0.7s ease-in-out;
}

.modal-content-search {
  position: fixed;
  top: 10%;
  background-color: #fff;
  padding: 0 10px 10px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

@media (max-width: 768px) {
  .modal-content-search {
    top: 30%;
    margin: 0 10px;
  }

  .modal-content-search {
    padding: 10px;
  }
}

@media (max-width: 1024px) {
  .modal-content-search {
    top: 15%;
    margin: 0 10px;
  }
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-overlay-search.active {
  opacity: 1;
  visibility: visible;
}

.modal-content.active {
  opacity: 1;
  transform: translateY(0);
}

.modal-content-search.active {
  opacity: 1;
  transform: translateY(0);
}

/* Datatable styling */
.odd {
  background-color: #e4ecf5 !important;
}

.even {
  background-color: #fff !important;
}

tr > td {
  padding: 0.5rem !important;
  font-size: medium !important;
  color: #424242 !important;
}

#attendee_table_info {
  font-size: medium !important;
  color: #696969 !important;
}

body .paginate_button.current {
  color: red !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: #2463eb !important;
  color: #fff !important;
  /* border-radius: 8px !important; */
  border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: inherit !important;
  border: none !important;
  /* border-radius: 8px !important; */
  background: #88acfb !important;
}

#attendee_table_next {
  background: #2463eb !important;
  color: #fff !important;
}

#attendee_table_filter {
  margin: 5px 0 !important;
}

#attendee_table_filter input[type="search"] {
  border: 2px solid #0a41b8 !important;
  outline: none !important;
  border-radius: 8px !important;
  background: #dbe8f4 !important;
  padding: 10px !important;
  width: 300px !important;
  color: #2463eb !important;
}

#attendee_table_length {
  margin: 10px 0 !important;
}

#attendee_table_length label {
  margin: 0 !important;
  font-size: medium !important;
  color: #2463eb !important;
}

#attendee_table_length select {
  border-radius: 8px !important;
  background: #dbe8f4 !important;
  padding: 10px !important;
  margin: 0 10px !important;
  width: 100px !important;
  border: 2px solid #0a41b8 !important;
  outline: none !important;
}

.paginate_button.previous.disabled {
  background: #bdc2c9 !important;
}

#attendee_table_previous {
  background: #2463eb !important;
  color: #fff !important;
}

.created-at-cell {
  font-size: medium !important;
  color: #f59104 !important;
}
