@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #dddada;
}

.checkbox {
  width: 30px;
  height: 30px;
  border: 2px solid #153148;
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #153148;
  border-radius: 2px;
  display: none;
}

input[type="checkbox"]:checked + label .checkbox::after {
  display: block;
}
