@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #dddada;
}

.checkbox {
  width: 30px;
  height: 30px;
  border: 2px solid #153148;
  border-radius: 4px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #153148;
  border-radius: 2px;
  display: none;
}

input[type="checkbox"]:checked + label .checkbox::after {
  display: block;
}

.css-13cymwt-control {
  padding: 8px !important;
  background: #dbe8f4 !important;
  border: none !important;
}

.css-1y7rh0y-MultiValueGeneric2 {
  color: #fbfbfb !important;
  background: #153148 !important;
}

.css-12a83d4-MultiValueRemove {
  background: #f53b04 !important;
  color: #fff !important;
}

.react-tel-input .form-control {
  border: 1px solid #dbe8f4 !important;
  padding-top: 24px !important;
  padding-bottom: 24px !important;
  width: 100% !important;
  outline: none !important;
  background: #dbe8f4 !important;
  font-size: larger !important;
}
